@font-face {
    font-family: 'Righteous';
    src: url(../fonts/Righteous-Regular.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-image: url(../imgs/graffiti-background-with-throwup-tagging-handdrawn-style-street-art-graffiti-urban-theme_675911-461.avif);
    background-size: cover;
}

body {
    font-family: 'Righteous';
    font-weight: normal;
    font-size: 1.3em;
    background-color: #5050509c;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#topo, #foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #2D2D2F;
    width: 70%;
    height: 10%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
}

#foot {
    width: 40%;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #3f3f3f;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.397);
    transition-duration: 0.15s;
}

.item:hover {
    transform: scale(1.1);
}

#meusLinks {
    height: 70%;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.397));
}

.item img {
    padding: 10px;
    height: 10%;
}

h1, h2 {
    font-weight: normal;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
}

#foot h2 {
    font-size: 150%;
}

#foot a {
    text-decoration: none;
    height: 80%;
    width: 40%;
}

#quadro {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 80%;
    font-family: 'montserrat';
}

#quadro h1 {
    font-family: "Righteous";
}

#inicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 33%;
    background: linear-gradient(0deg, #0f0f64, #2043b6);
    border-radius: 20px 0px 0px  20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
}

#meio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 33%;
    background: linear-gradient(0deg, #640f0f, #b62020);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
}

#fim {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 33%;
    background-color: #EFF1F0;
    background-image: url(../imgs/fundoBranco.jpg);
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
}

.postIt {
    height: 18%;
    width: 30%;
    padding: 20px;
    outline: none;
    background-color: rgb(255, 228, 72);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
}

.postItMeio {
    height: 18%;
    width: 30%;
    padding: 20px;
    outline: none;
    background-color: rgb(166, 118, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
}

.postItFinal {
    height: 18%;
    width: 40%;
    padding: 20px;
    outline: none;
    background-color: rgb(135, 167, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);  
}

.git {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #3f3f3f;
    transition-duration: 0.3s;
}

.git:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
}